BrysonNet/bin/
BrysonNet/obj/
BrysonNet/_ReSharper*/
BrysonNet/*.dotCover
BrysonNet/NeuralNetwork1.cs
BrysonNetUsage/bin/
BrysonNetUsage/obj/
BrysonNet/BrysonNet.csproj.user
BrysonNet/BrysonNet.suo


